<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="padding: 0">
    <div class="row" style="margin: 0">
        <div class="jumbotron">
            <form action="/checklogin" method="POST" class="form-horizontal">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px;">用户名：</span>
                    <input type="text" class="form-control" placeholder="用户名" name="username"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px;">密&nbsp;&nbsp;&nbsp;码：</span>
                    <input type="text" class="form-control" placeholder="密码" name="password"/>
                </div>
                <br/>
                <div>
                    <label for="rememberme">记住我</label>
                    <input type="checkbox" name="rememberme" id="rememberme"/>
                </div>
                <button type="submit" style="width:280px;" class="btn btn-default">登 录</button>
            </form>
            <p th:if="${param.error}">用户名或密码错误！</p>
        </div>
    </div>
</div>
</body>
</html>